/* === BASE === */
QWidget {
    background-color: #1a1b26; /* глубокий тёмный */
    color: #c0caf5;
    font-family: "Funnel Display", "Shippori Mincho", sans-serif;
    font-size: 12px;
}

/* === LABELS === */
QLabel {
    color: #c0caf5;
    font-size: 16px;
}

QLabel#titleLabel {
    font-size: 24px;
    font-weight: bold;
    color: #7aa2f7;
    font-size: 24px;
}

QLabel#largeTitle {
    font-size: 28px;
    font-weight: bold;
    color: #7aa2f7;
    font-size: 28px;
}

QLabel#subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #7aa2f7;
    font-size: 20px;
}

QLabel#errorLabel {
    color: #f7768e;
}

QLabel#infoLabel {
    color: #9aa5ce;
}

QLabel#dialogSectionHeader {
    font-size: 18px;
}

QLabel#dialogContent {
    font-size: 14px;
}

QLabel#connectionStatusLabel {
    font-size: 12px;
}

/* === BUTTONS === */
QPushButton {
    background-color: rgba(122, 162, 247, 0.08);
    color: #7aa2f7;

    border: 1px solid rgba(122, 162, 247, 0.4);
    border-radius: 10px;

    padding: 10px 20px;
    font-size: 14px;
}

QPushButton:hover {
    background-color: rgba(122, 162, 247, 0.15);
    border: 1px solid #7aa2f7;
}

QPushButton:pressed {
    background-color: rgba(122, 162, 247, 0.08);
}

QPushButton:focus {
    outline: none;
}

QPushButton:disabled {
    background-color: #1f2335;
    color: #565f89;
}

/* === Dialog === */

QLabel#dialogSectionHeader {
    font-size: 18px;
    font-weight: bold;
    color: #7aa2f7;
}

QLabel#dialogContent {
    font-size: 16px;
    color: #c0caf5;
}

QLabel#wordKanji {
    font-size: 34px;
    font-weight: bold;
    color: #e0af68;
}

/* === INPUT === */
QLineEdit {
    background-color: #1f2335;
    border: 1px solid #3b4261;
    border-radius: 6px;
    padding: 6px;
}

QLineEdit:focus {
    border: 1px solid #7aa2f7;
}

/* === LIST === */
QListWidget {
    background-color: #1f2335;
    border: 1px solid rgba(122, 162, 247, 0.4);
    border-radius: 10px;
    font-size: 16px;
}

QListWidget::item:selected {
    background-color: #1f2335;
    border-radius: 10px;
    outline: none;
    border: none;
}

QListWidget::item:hover {
    background-color: #3b4261;
    border-radius: 9px;
}

QListWidget:focus {
    outline: none;
}

QListWidget::item:focus {
    outline: none;
    border: none;
}

/* === TABLE === */
QTableWidget {
    gridline-color: #3b4261;
    font-size: 14px;
    background: transparent;
    border: none;
    margin: -1px;
    border-radius: 9px;
}

QTableWidget:focus {
    outline: none;
}

QHeaderView::section {
    background-color: #3b4261;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #3b4261;
    font-weight: 600;
}

QHeaderView::section:first {
    border-top-left-radius: 9px;
}

QHeaderView::section:last {
    border-top-right-radius: 9px;
}

QHeaderView::up-arrow {
    image: url(:/icons/caret-arrow-up.png);
    width: 10px;
    height: 10px;
}

QHeaderView::down-arrow {
    image: url(:/icons/caret-arrow-down.png);
    width: 10px;
    height: 10px;
}

QTableWidget::viewport {
    background: transparent;
}

QWidget#tableContainer {
    background-color: #1f2335;
    border: 1px solid rgba(122, 162, 247, 0.4);
    border-radius: 10px;
}

/* === SCROLL === */
QScrollBar:vertical {
    background: transparent;
    width: 10px;
}

QScrollBar::handle:vertical {
    background: #3b4261;
    border-radius: 5px;
}

/* === TOAST === */
ToastWidget {
    border-radius: 10px;
    padding: 10px;
}

ToastWidget#notification {
    background-color: #1a1b26;
    border: 2px solid #7aa2f7;
    border-radius: 10px;
}

ToastWidget#warning {
    background-color: #1a1b26;
    border: 2px solid #e0af68;
    border-radius: 10px;
}

ToastWidget#error {
    background-color: #1a1b26;
    border: 2px solid #f7768e;
    border-radius: 10px;
}

QLabel#toastMessage {
    background: transparent;
    color: #c0caf5;
    font-weight: bold;
    font-size: 12px;
}
